body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: Arial, Helvetica;
    background: #e8e8e8;
}

header{
    z-index: 1;
    top:0;
    left:0;
}

header nav{
    position: fixed;
    width: 100%;
    top: 0px;
    text-align: center;
    z-index: 100;
}

video{
    width: 100%;
    z-index: -1;
}

.DivInit{
    margin: 0;
    padding:0;
}

.DivPersonalInfo{
    width: 100%;
    height: 100vh;
    background-image: url(PersonalInfoWallpaper.jpg);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.Introduction{
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba( 164, 163, 173, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    align-items: center;
}

.Introduction img{
    width: 400px;
    height: 320px;
    border-radius: 10%;
    padding: 1.5rem;
    margin: 0;
}

p{
    display: block;
    font-family: 'Mukta', sans-serif;
    padding:4px;
    margin:0;
    color: #e8e8e8;    
}

.Introduction h1{
    font-family: 'Lobster', cursive;
    font-size: xxx-large;
    margin: 0;
}


.Experience{
    background-image: url(ExperienceBackground.jpg);
    background-repeat: no-repeat;
    padding: 60px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Experience div{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(400px, auto);
    padding-bottom: 35px;
}

.Experience img{
    top: 0;
    width: 260px;
    margin: 0;
    padding: 1.5rem;
}

.Experience container{
    margin: 1.8rem;
    text-align: center;
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.Experience container img{
    width: 160px;
}

.Experience container p{
    color: black;
}


.footer{
    color: white;
    background-color: #1b2127;
    width: 100%;
    margin: auto;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.menu{
    padding: 0;
    background: #092327;
    width: 100%;
    left: 0;
    top: 0;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #ef8354;
}

#WebsTable{
    margin: auto;
}